/* universal styles */
@font-face {
  font-family: 'Oswald';
  src: url('./resources/fonts/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('./resources/fonts/Oswald-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald';
  src: url('./resources/fonts/Oswald-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./resources/fonts/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./resources/fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./resources/fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 16px;
}

body {
  background: #ffffff;
  font-family:'Open Sans', sans-serif;
  color: #757575;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  color: #212121;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
}

.site-container {
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: none;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.navigation-desktop {
  display: none;
}
/* end header */

/* hero banner image */
.banner {
  width: 100%;
  margin: 0 auto;
  background-color: #cfd8dc;
}

.banner-image {
  height: 300px;
  overflow: hidden;
}
.banner-image img {
  width: 100%;
}

.banner-info {
  padding: 2rem 1rem;
}

button {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #607d8b;
    padding: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}
/* end hero banner image */

/* information */
.information {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.quote {
  display: none;
}
.desktop-image {
  display: none; !important
}
/* end information */

/* courses */


/* desktop styles */
@media only screen and (min-width: 961px) {
  .site-container {
    width: 960px;
    margin: 0 auto;
  }
  /* desktop header */
  .logo {
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5rem;
  }
  .desktop-logo-bold {
    font-family: 'Oswald' sans-serif;
    font-weight: 500;
  }
  .desktop-logo-thin {
    font-family: 'Oswald' sans-serif;
    font-weight: 200;
  }
  nav {
    justify-content: flex-end;
  }
  .navigation {
    display: none;
  }
  .navigation-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .navigation-desktop li {
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
  }
  .navigation-desktop li:last-of-type {
    padding-right: 1.5rem;
  }
  .navigation-desktop a{
    color: #757575;
  }
  .navigation-desktop a:link {
    text-decoration: none;
  }
  /* end desktop header */

  /* hero banner image */
  .banner {
    width: 100%;
    margin: 0 auto;
    background-color: #cfd8dc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .banner-image {
    width: 60%;
    height: auto;
    overflow: hidden;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
  .banner-image img {
    overflow: hidden;
  }
  .banner-info {
    width: 40%;
    padding: 2rem 1.5rem;
  }
  button {
      font-size: .75rem;
  }
  /* end hero banner image */

  /* information */
  .quote {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
  }
  .quote-image {
    height: auto;
    overflow: hidden;
  }
  .quote-image img {
    width: 100%;
    overflow: hidden;
  }
  .quote-info {
    padding-top: 1rem;
  }
  .quote-info h2 {
    text-transform: uppercase;
  }
  .quote-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: .75rem;
  }
  .quote-name span {
    padding-top: 3rem;
  }
  .sidebar {
    width: 40%;
  }
  .sidebar-section {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
  .desktop-image {
    display: block; !important
  }
  .mobile-image {
    display: none;
  }
  .sidebar-section img {
    width: 35%;
    height: auto;
    padding: 1rem;
  }
  .sidebar-section-content {
    padding-right: 1.5rem;
  }
  .sidebar-section:last-of-type {
    background-color: #cfd8dc;
  }
  .sidebar-section span h3 {
    padding-bottom: .5rem;
  }
  .sidebar-section p {
    font-size: .75rem;
  }
  /* end information */

  /* courses */
  
}
