/* universal styles */
@font-face {
  font-family: 'Oswald';
  src: url('./resources/fonts/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('./resources/fonts/Oswald-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald';
  src: url('./resources/fonts/Oswald-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./resources/fonts/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./resources/fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./resources/fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 16px;
}

body {
  background: #ffffff;
  font-family:'Open Sans', sans-serif;
  color: #757575;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  color: #212121;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
}

.site-container {
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: none;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.navigation-desktop {
  display: none;
}
/* end header */

/* hero banner image */
.banner {
  width: 100%;
  margin: 0 auto;
  background-color: #cfd8dc;
}

.banner-image {
  height: 300px;
  overflow: hidden;
}
.banner-image img {
  width: 100%;
}

.banner-info {
  padding: 2rem 1rem;
}

.banner-info p {
  display: block;
}

button {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #607d8b;
    padding: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}
/* end hero banner image */

/* information */
.information {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;
}
.quote {
  display: none;
}

.desktop-image {
  display: none;
}

.sidebar {
  width: 100%;
}

.sidebar-section {
  padding: 1rem;
}

.sidebar-section img {
  width: 100%;
  height: auto;
}

.sidebar-section-content {
  padding-left: 1rem;
}

.sidebar-section-content p {
  display: block;
}

.sidebar-section h3 {
  letter-spacing: .1rem;
}

.sidebar-section a:link, a:visited {
  text-decoration: none;
  color: #ff5722;
  text-transform: uppercase;
}

.sidebar-section a:hover {
  color: #455a64;
}

/* end information */

/* courses */
.courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.course-headline {
  padding: 2rem 0;
  text-align: center;
}

.course-image {
  display: none;
}
.courses-block {
  background-color: #455a64;
  color: #cfd8dc;
  padding: 1.5rem 0 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin-bottom: .5rem;
}

.courses-block-content h4, p {
  display: none;
}
/* end courses */

/* thesis */
.thesis {
  display: block;
  padding-bottom: 2rem;
}
.thesis-headline {
  display: block;
  text-align: center;
  padding: 2rem 0;
}
.thesis-sidebar {
  display: none;
}
/* end thesis */

/* footer */
footer {
  border-top: 1px solid #607d8b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.footer-item {
  padding-left: 1.5rem;
}

.footer-links {
  display: flex;
}

.footer-link-item a {
  text-decoration: none;
  text-align: center
}

.footer-link-item a:link, a:visited {
  color: #607d8b;
}

.footer-link-item a:hover {
  color: #ff5722;
}


/* desktop styles */
@media only screen and (min-width: 961px) {
  .site-container {
    width: 960px;
    margin: 0 auto;
  }
  /* desktop header */
  .logo {
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5rem;
  }
  .desktop-logo-bold {
    font-family: 'Oswald' sans-serif;
    font-weight: 500;
  }
  .desktop-logo-thin {
    font-family: 'Oswald' sans-serif;
    font-weight: 200;
  }
  nav {
    justify-content: flex-end;
  }
  .navigation {
    display: none;
  }
  .navigation-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .navigation-desktop li {
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
  }
  .navigation-desktop li:last-of-type {
    padding-right: 1.5rem;
  }
  .navigation-desktop a{
    color: #757575;
  }
  .navigation-desktop a:link {
    text-decoration: none;
  }
  /* end desktop header */

  /* hero banner image */
  .banner {
    width: 100%;
    margin: 0 auto;
    background-color: #cfd8dc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .banner-image {
    width: 60%;
    height: auto;
    overflow: hidden;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
  .banner-image img {
    overflow: hidden;
  }
  .banner-info {
    width: 40%;
    padding: 2rem 1.5rem;
  }
  button {
      font-size: .75rem;
  }
  /* end hero banner image */
}

/* tablet styles */
@media only screen and (min-width: 600px) {
  /* information */
  .quote {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 1.5rem 1rem 1.5rem;
  }
  .quote-image {
    height: auto;
    overflow: hidden;
  }
  .quote-image img {
    width: 100%;
    overflow: hidden;
  }
  .quote-info {
    padding-top: .5rem;
  }
  .quote-info p {
    display: block;
    padding: 0 0 1rem 0;
  }
  .quote-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: .75rem;
  }
  .quote-name span {
    padding-top: 2rem;
  }
  .sidebar {
    width: 40%;
  }
  .sidebar-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 0;
  }
  .desktop-image {
    display: block;
  }
  .mobile-image {
    display: none;
  }
  .sidebar-section img {
    width: 35%;
    height: auto;
  }
  .sidebar-section-content {
    padding-left: .5rem;
  }
  .sidebar-section:last-of-type {
    background-color: #cfd8dc;
  }
  .sidebar-section-content span h3 {
    padding-bottom: .5rem;
  }
  .sidebar-section-content p {
    display: block;
    font-size: .75rem;
  }
  /* end information */

  /* courses */
  .courses {
    background-color: #cfd8dc;
    padding-bottom: 0;
  }
  .course-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .course-headline {
    text-align: center;
    display: block;
    padding-bottom: .25rem;
   }
  .courses-block {
    width: 25%;
    background-color: #ffffff;
    padding: 0;
    margin: 1rem;
  }
  .course-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .courses-block-content {
    background-color: #ffffff;
    color: #cfd8dc;
    text-align: left;
    padding: 1rem;
  }
  .courses-block p {
    display: block;
    text-transform: none;
    font-size: .6rem;
    line-height: .75rem;
    color: #607d8b;
  }
  .courses-block h4 {
    display: block;
    text-transform: none;
    font-size: 1rem;
    line-height: 2rem;
  }
  .courses-block h3 {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #607d8b;
  }
  /* end courses */
  .thesis-content {
    display: flex;
  }
  .video {
    width: 60%;
    padding: 0 1.5rem;
  }
  .thesis-video-content h3, p {
    display: block;
    padding: 1rem 1rem .25rem .5rem;
  }
  .thesis-sidebar {
    display: block;
    width: 40%;
  }
  .thesis-blocks {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;
  }
  .thesis-blocks img {
    width: 35%;
    height: auto;
    display: inline;
    padding: 1rem;
  }
  .thesis-blocks:first-of-type {
    background-color: #cfd8dc;
  }
  .thesis-blocks-content p{
    padding: .5rem 0;
  }
  .thesis-blocks h3 {
    line-height: 1.5rem;
  }
}
